body{
    background-color:#ECE5C7;
  }
  canvas{
    width:100%;
    border: solid 1px grey;
  }
  .img_block{
    width:60%;
  }
  h1{
    color: #354259;
    text-align: center;
    font-family: Arial;
  }
  input{
    margin:5px;
  }